/*The Footer divs Style*/
.grey {
  background-color: #f2f2f2;
  color: #70757a;
  padding: 15px 30px;
  margin-right:-8px;
  min-width:1476px;

}

.grey a {
  color: #70757a
}

.footer {
  position: absolute;
  bottom:0;
}

.fa {
  margin-left: 30px;
}

.far{
  margin-right: 30px;
}

.faa {
  margin-left: 300px;
}

.faar {
  margin-right: 420px;
}
#Egy {
  border-bottom: 1px solid #dadce0;
}

/*The Inputs Style #80808040   */
.sear {
  background-color: #f8f9fa;
  border: 1px #dadce000 solid;
  display: inline-block;
  border-radius: 5px;
  box-shadow: -0.9px 3.1px 3.1px -0.9px #80808000;
  padding: 13px 22px 13px 22px;
  margin: 11px 4px;
  color: #3c4043;
  font-family: Helvetica Neue,'Noto Naskh Arabic UI',Arial,sans-serif;
  font-weight: 500;
}

.sear:hover {
  background-color: #f8f9fa;
  border: 1px #dadce0 solid;
  display: inline-block;
  border-radius: 5px;
  box-shadow: -0.9px 3.1px 3.1px -0.9px #80808040;
  padding: 13px 22px 13px 22px;
  margin: 11px 4px;
  color: #3c4043;
  font-family: Helvetica Neue,'Noto Naskh Arabic UI',Arial,sans-serif;
  font-weight: 500;
}

#sears {
  width: 114px;
}

/*The Header Style*/
.hea {
  color: rgba(0,0,0,0.87)
}

/*The body paragraph Style*/
.pra {
  color: #222
}

.en {
  color: #1d13ad;
}

a {
  text-decoration: none;
}
/*search tool style*/
.search-tool {
  border: 1px solid #dadce0;
  width:584px;
  height: 46px;
  margin: 15px auto;
  padding: 0px;
  position: relative;
  border-radius: 30px;
}

.search-tool:hover {
  box-shadow: 0.7px 0.6px 4px 0.8px #3b3b3b7a;
  border: none;
  margin-top: 16px;
  margin-bottom: 16px;
}

.search-input {
  width: 437px;
  height: 34px;
  border-style: none;
  border-color: #9b9c9dcf;
  position: absolute;
  top: 7.5px;
  left: 94px;
}

.search-input:focus {
  border: none;
  outline: none;
}

#m {
  position: absolute;
  width: 24px;
  height: 34px;
  left: 20px;
  top: 5px;
}

#k {
  position: absolute;
  width: 29px;
  height: 20px;
  left: 62px;
  top: 15px;
}


.sear-sign {
  position: absolute;
  top: 11px;
  right: 14px;
}
/*Google Photo Style*/
.google-photo {
  width:270px;
  border: 1px solid #ff000000;
  margin: auto;
}

/* Body */
a, .hf, .sf, .sear {
  cursor: pointer;
}

.bot {

  border: 2px #ff000000 solid;
  width: fit-content;
  margin:auto;
}

.sear:active {
  background-color: #f8f9fa;
  border: 1px #0000ff73 solid;
  display: inline-block;
  border-radius: 5px;
  padding: 13px 22px 13px 22px;
  margin: 11px 4px;
  color: #3c4043;
  font-family: Helvetica Neue,'Noto Naskh Arabic UI',Arial,sans-serif;
  font-weight: 500;
}

.sp {

  border: 2px #ff000000 solid;
  width: 237px;
  margin:auto;
}

.gog {
  width: 298px;
  height: 104px;
}
 /* Header */
 .hd {
   direction: ltr;
 }


.hd img {
  vertical-align: middle;
  padding: 10px 0px;
}
#inch {
  margin: 0px 15px 0px 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-top: 3px;
  padding: 0px;
  border-width: 4px;
  border-color: #80808000;
  border-style: solid;
}

#inch:hover {
  margin: 0px 15px 0px 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-top: 3px;
  padding: 0px;
  border-width: 4px;
  border-color: #80808057;
  border-style: solid;
}
 .hf {
   margin-right: 30px;
 }

#pho {
  margin-right: 15px;
}

a:hover {
  text-decoration: underline;
}

.eyt{
  cursor: auto;
}
.eyt:hover {
  text-decoration: none;
}

.mm {
  position: relative;
  top: 39px;
}
